/*
 * Copyright (c) 2021 Farit N
 * SPDX-License-Identifier: Apache-2.0
 */

/* This devicetree overlay file will be automatically picked by the Zephyr
 * build system when building the sample for the nucleo_l452re board. It shows
 * how the example-application can be built on sample boards already provided
 * by Zephyr.
 */

/ {
    chosen {
        zephyr,console = &usart1;
        zephyr,shell-uart = &usart1;
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zephyr,can-primary = &can1;
    };

    buttons {
        compatible = "gpio-keys";
        button_memo: button0 {
            label = "MEMO";
            gpios = <&gpioc 6 0>;
        };
        button_date: button1 {
            label = "DATE";
            gpios = <&gpioc 7 0>;
        };
        button_min: button2 {
            label = "min";
            gpios = <&gpioc 8 0>;
        };
        button_h: button3 {
            label = "h";
            gpios = <&gpiob 12 0>;
        };
        button_hour: button4 {
            label = "HOUR";
            gpios = <&gpiob 13 0>;
        };
        button_temp: button5 {
            label = "TEMP";
            gpios = <&gpiob 14 0>;
        };
    };

};

/ {
    ht1632c {
        compatible = "holtek,ht1632c";
        cs-gpios = <&gpioa 8 0>;
        wr-gpios = <&gpioa 9 0>;
        data-gpios = <&gpioa 10 0>;
        commons-options = <0x00>;
    };
};

/ {
    bmw_thermometer {
        compatible = "bmw,thermometer";
        io-channels = <&adc1 3>;
        enable-gpios = <&gpioa 15 GPIO_ACTIVE_LOW>;
    };
};

/ {
    bmw_clock {
        compatible = "bmw,clock";
        background-gpios = <&gpiob 4 0>;
        enable-format-gpios = <&gpiob 1 0>;
        fahrenheit12-gpios = <&gpiob 2 0>;
        celsius12-gpios = <&gpiob 10 0>;
        celsius24-gpios = <&gpioc 5 0>;
    };

    bmw_gong {
        compatible = "bmw,gong";
        t1-gpios = <&gpioc 10 0>;
        t2-gpios = <&gpioc 11 0>;
    };
};

/ {
     soc {
        rtc: rtc@40002800 {
            status="disabled";
        };

       stm32lrtc@40002800 {
            compatible = "st,stm32lrtc";
            status = "disabled";
            reg = < 0x40002800 0x400 >;
            interrupts = < 0x29 0x0 >;
            clocks = < &rcc 0x2 0x10000000 >;
            prescaler = < 0x8000 >;
        };

    };
};

&i2c1 {
    status = "okay";
    pinctrl-0 = < &i2c1_scl_pb8 &i2c1_sda_pb9 >;
    pinctrl-names = "default";

    veml7700@10 {
        compatible = "vishay,veml7700";
        reg = <0x10>;
        als-gain = <0x00>;
        als-it = <0x01>;
        als-pers = <0x01>;
        psm = <0x00>;
    };

    eeprom@50 {
        compatible = "atmel,at24";
        reg = <0x50>;
        size = <65536>;
        pagesize = <8>;
        address-width = <16>;
        timeout = <5>;
    };
};

&i2c2 {
    status = "disabled";
};

&i2c3 {
    status = "okay";
    pinctrl-0 = < &i2c3_scl_pc0 &i2c3_sda_pc1 >;
    pinctrl-names = "default";

    rv3032@51 {
        compatible = "microcrystal,rv3032";
        reg = <0x51>;
        interrupts = < 0x1 0x0 >;
        int-gpios = <&gpioc 3 0>;
        nclke = <0x01>;
        bsm = <0x02>;
        tcm = <0x00>;
        tcr = <0x00>;
    };
};

&usart1 {
    pinctrl-0 = <&usart1_tx_pb6 &usart1_rx_pb7>;
    pinctrl-names = "default";
    current-speed = <115200>;
    status = "okay";
};

&spi1 {
    status = "disabled";
};

&clk_lse {
    status = "disabled";
};

&adc1 {
    pinctrl-0 = <&adc1_in4_pc3>;
    pinctrl-names = "default";
    status = "okay";
};

&can1 {
    status = "disabled";
};

&clk_lsi {
    status = "okay";
};

&iwdg {
    status = "okay";
};
